<div>
 <h1>ログインページはここじゃよ</h1>
 <%= form_with url: login_path, data: { turbo: false } do |f| %>
   <div> 
     <div> 
       <%= f.label :name %>
     </div>
     <div>
       <%= f.text_field :name %>
     </div>
   </div>

   <div>
     <div>
       <%= f.label :email %>
     </div>
     <div>
       <%= f.email_field :email %>
     </div>
   </div>

   <div>
     <div>
       <%= f.label :password %>
     </div>
     <div>
       <%= f.password_field :password %>
     </div>
   </div>

   <div>
     <%= f.submit 'ログイン', class: 'btn' %>
   </div>
 <% end %>
 <%= link_to '戻る', root_path, class: 'btn' %>
</div>

